#bordaQTD {
	border-width: medium;
	border-style: solid;
	border-color: #2F4F4F;
	padding-left: 10px;
	padding-right: 5px;
}

#bordaQTD2 {
	border-width: medium;
	border-style: solid;
	border-color: #2F4F4F;
	padding-left: 90px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#centraliza {
	padding-left: 600px;
}

#graficoCSS {
	width: 880px;
	height: 440px;
	border-width: medium;
	border-style: solid;
	border-color: #2F4F4F;
	padding-bottom: 10px;
	padding-top: 10px;
}